<header>
		<div class="container top_header">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12 logo_container">
					<p>$site_name</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="top_header_links pull-right">
						
						<!-- BLOCK_TOP_LINKS_HARTA_CONTACT -->
						#set ($VOID = $velocityPortletPreferences.setValue('groupId', $themeDisplay.getScopeGroupId().toString()))
						#set ($VOID = $velocityPortletPreferences.setValue('articleId', 'BLOCK_TOP_LINKS_HARTA_CONTACT'))
						#set ($VOID = $velocityPortletPreferences.setValue('portletSetupShowBorders', 'false'))
						#set ($portlet_id = '56')
						#set ($my_portlet_id = "${portlet_id}_INSTANCE_1234")
						$theme.runtime($my_portlet_id, "", $velocityPortletPreferences.toString())
						$velocityPortletPreferences.reset()
						
					</div>
					<div class="social_block pull-right">
						<a href="http://ro-ro.facebook.com/CJArges" target="_blank" rel="noopener" title="Facebook" >
							<img class="grayscale" src="$images_folder/fb_icon.png" alt="facebook" width="23" height="23">
						</a> 
						<a href="" target="_blank" rel="noopener" title="Twitter">
							<img class="grayscale"src="$images_folder/twt_icon.png" alt="twitter" width="23" height="23">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="navbar-wrapper">
			<div class="container">

				<div class="navbar navbar-inverse navbar-static-top"
					role="navigation">
					<div class="container">
						<div class="navbar-header">
							<div id="search-outer">
								<div id="search">
									<div id="search-box">
										<div class="col-md-12">
											$theme.journalContentSearch()
										</div>
										<!--/span_12-->
									</div>
									<!--/search-box-->
									<div id="close">
										<a href="javascript:closeSearchBox();">
											<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
										</a>
									</div>
								</div>
								<!--/search-->
							</div>
							<!--/search-outer-->
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="$company_url" title="$site_name">
								<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
							</a>
						</div>
						<div class="navbar-collapse collapse">
							<form role="search" class="navbar-form navbar-left">
								<div class="form-group">
									<input type="text" placeholder="Cautare" class="form-control">
								</div>
							</form>
							
							<!-- navigation -->
							#if ($has_navigation || $is_signed_in)
								#parse ("$full_templates_path/navigation.vm")
							#end
							
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="javascript:openSearchBox();">
										<span class="glyphicon glyphicon-search"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
            <!-- Logo Ara -->
            <div class="container">
                <div class="pull-right logo_ara">
                	<a href="http://www.adsoft.ro" target="_blank" rel="noopener"><img class="grayscale" src="$images_folder/logo_ara.png" alt="Ara Software Group" title="Ara Software Group" />
                	</a>
                </div>
            </div>
		</div>
		
	</header>

	<script>
		function openSearchBox() {
			$('#search-outer').show();
            $('#loupe').hide();
		}
		
		function closeSearchBox() {
			$('#search-outer').hide();
            $('#loupe').show();
		}
	</script>
	
	